<app-task-details *ngIf="taskDetailsDialog" [parent]="parent" [(display)]="taskDetailsDialog"></app-task-details>
<div class="p-8 w-full flex-1">
    <div class="header mb-3" >
        <h1 class="font-bold text-2xl ">Inbox</h1>
        <div></div>
    </div>
    <div>
        <div *ngFor="let task of tasks" class="group flex justify-between border-b border-gray-200 p-2  " >
            <div class="left flex">
                <button class="h-5 w-5 mr-2 border rounded-full hover:border-red-400 transition-all duration-500" (click)="completeTask(task)"><mat-icon class="text-red-400 text-sm opacity-0 hover:opacity-100 transition-all ">check</mat-icon> </button>
                <div (click)="handleTaskDetails(task)">
                    <p class="text-md " >{{task.title}}</p>
                    <p class="text-sm text-gray-400 mb-2">{{task.description}}</p>
                    <div class="flex">
                        <p class="text-xs text-gray-400" [ngStyle]="{'color':(task.date|dateFormater)==='Today'?'green':(task.date|dateFormater)==='Over Due'?'red':null}" >{{task.date | dateFormater}}</p>
                        <p *ngIf="task.subtasks?.length" class="text-xs text-gray-400 ml-2 items-center">
                            <mat-icon  class="text-xs text-gray-400">timeline</mat-icon>
                            {{task.subtasks?.length}}

                        </p>

                    </div>

                </div>
            </div>
            <div class="right flex justify-center items-center opacity-0 group-hover:opacity-100">
                <button (click)="edit(task)" class="flex items-center">
                    <mat-icon  class="text-base w-3 ">edit_outlined</mat-icon>

                </button>
               
                <button (click)="delete(task)" class="flex items-center">
                    <mat-icon  class="text-base">delete</mat-icon>

                </button>
            </div>
    
        </div>

    </div>
    
    
    <h4 class="text-gray-500 flex items-center " [ngStyle]="{display:!toggle?'flex':'none'}"><mat-icon (click)='handleToggle()' class="text-red-500 rounded-full self-center mr-3 p-0 ">add</mat-icon> Add Task</h4>
    <app-task-form *ngIf="toggle" [(toggle)]="toggle" [task]="update_task" [isUpdate]="isUpdate "  ></app-task-form>
</div>